python-telegram-bot[job-queue]==20.0
google-api-python-client==2.60.0
google-auth-oauthlib==1.0.0
humanize==4.4.0
python-dotenv==0.21.0
aria2p==0.11.3
psutil==5.9.4
tenacity==8.1.0
qbittorrent-api==2022.11.40
pyngrok==5.2.1
patool==1.12
python-magic==0.4.27
pyrogram==2.0.99
tgCrypto==1.2.5
natsort==8.2.0
Pillow==9.4.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
filesplit==4.0.1
uvloop==0.17.0